/* COMMON */
* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: violet;
}

/* CANVAS */

.tamagotchi-container {
  width: 900px;
  height: 900px;
  position: relative;
}

#tablet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eff;
  border-radius: 5px;
}

/* BUTTONS */

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 130px;
  left: 25%;
  width: 50%;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: blue;
  border: none;
  border-radius: 50px;
}

.btn:active {
  background-color: white;
}

.btn--2 {
  transform: translateY(50px);
}

/* MODAL */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  color: #fff;
  background-color: blueviolet;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-item {
  width: 150px;
  font-size: 40px;
  font-family: 'VT323';
}

.focused::before {
  content: '>';
  width: 50px;
  height: 50px;
}

/* ETC */

.hidden {
  display: none;
}
