nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 7vh;
  padding: 5px 20px;
  background-color: #f07bed;
}

nav img {
  width: 10vw;
  height: 5vh;
}

.navbar-links {
  display: flex;
  width: 25vw;
  align-items: center;
  gap: 3vw;
}

.navbar-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vh;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'VT323';
  font-size: 1.1vw;
  color: #fff;
  background-color: #c21dbc;
  border-radius: 20px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-links .hidden {
  display: none;
}

.navbar-links a:hover {
  background-color: #ce33c9;
}

.logout {
  display: block;
}
