nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 7vh;
  padding: 5px 20px;
  background-color: #f07bed;
}

nav img {
  width: 10vw;
  height: 5vh;
}

.navbar-links {
  display: flex;
  width: 10vw;
  align-items: center;
  gap: 3vw;
  margin-right: 5vw;
}

nav a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'VT323';
  font-size: 1.5rem;
  color: #000;
}

.logout {
  display: block;
}
