.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f3aaf3;
  position: relative;
}

/* BODY */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 80vw;
  height: 80vh;
}

.edit-my-profile {
  width: 15vw;
  border: none;
  font-family: VT323;
  font-size: 1.1rem;
  color: #c21dbc;
  background-color: transparent;
  border: 1px solid #c21dbc;
  border-radius: 2rem;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.edit-my-profile:hover {
  color: #fff;
  background-color: #c21dbc;
}

.edit-my-profile:active {
  background-color: #f3aaf3;
}

/* PROFILE */

.profile-body {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 10vh);
  row-gap: 1vh;
  width: 70vw;
  height: 90vh;
  background-color: #f07bed;
  border-radius: 3vw;
}

.profile-body img {
  width: 20vw;
  height: 10vh;
  grid-column: 6 / 9;
  grid-row: 5 / 7;
  justify-self: center;
  align-self: center;
}

.profile-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-family: VT323;
  color: #fff;
  text-align: center;
}

.profile-heading img {
  width: 3rem;
  height: 3rem;
}

.profile-heading span {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  grid-column: 2 / 5;
  grid-row: 2 / 7;
  background-color: #fff;
  border-radius: 30px;
}

.profile-left img {
  width: 15vw;
  height: 15vw;
}

.profile-left .heart {
  color: #ee2626;
}

.profile-left span {
  font-size: 1.5vw;
  font-family: VT323;
}

.profile-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  grid-column: 6 / 9;
  grid-row: 2 / 5;
  padding: 2rem;
  border-radius: 20px;
  background-color: #c21dbc;
  word-wrap: break-word;
  color: #fff;
}

.profile-right h2 {
  font-family: VT323;
  text-transform: uppercase;
}

/* MODAL */

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
  background-color: #fff;
  border-radius: 0.5rem;
  z-index: 3;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}

.modal form input {
  width: 20vw;
  padding: 0.3rem;
  border: none;
  border-bottom: 1px solid #f3aaf3;
  outline: none;
}

.modal form input::placeholder {
  color: #f3aaf3;
}

.modal form input:focus::placeholder {
  color: transparent;
}

.modal form .description-text-area {
  width: 20vw;
  height: 20vh;
  padding: 1rem;
  font-family: Arial;
  border: 1px solid #f3aaf3;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.modal form .description-text-area::placeholder {
  color: #f3aaf3;
}

.modal form .description-text-area:focus::placeholder {
  color: transparent;
}

.modal form button {
  width: 7vw;
  height: 3vh;
  color: #f07bed;
  border: 1px solid #f07bed;
  border-radius: 5px;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.modal form button:hover {
  color: #fff;
  background-color: #f07bed;
  border: none;
}

.modal form button:active {
  background-color: #f3aaf3;
}

.modal .x-btn {
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

/* ETC */

.hidden {
  display: none;
}
